<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form action="/signup" method="POST">
        <input type="text" name="username" id="inpUsername" placeholder="Choose Username">
        <br>
        <input type="email" name="email" id="inpEmail" placeholder="Email Id">
        <br>
        <input type="password" name="password" id="inpPassword" placeholder="Enter Password">
        <br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>